CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_install.cmake.
CMakeFiles
_deps
Makefile
*.json
/Debug
/x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
build
save_*
.vscode
vgcore*
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
r-type_server
r-type_client
bin
.vs
conan.cmake
findfmt.cmake
conanbuildinfo*
*.dir
conan.cmake
conanfile.txt
_CPack_Packages
install_manifest.txt
r-type-0.1.1-Linux.sh
r-type-0.1.1-Linux.tar.gz
r-type-0.1.1-Linux.tar.xz
r-type-0.1.1-Linux.tar.bz2
r-type-0.1.1-Linux.tar
r-type-0.1.1-Linux.zip
r-type-0.1.1-Linux.tar.Z
*.exe
lib