CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_install.cmake.
CMakeFiles
_deps
Makefile
*.json
/Debug
/x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
build
save_*
.vscode
vgcore*
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
r-type_server
r-type_client
bin
.vs
conan.cmake
findfmt.cmake
conanbuildinfo*